* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

nav {
    display: flex;
    background-color: white;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);
    align-items: center;
    padding: 15px 50px;
}

.navbar-contents {
    margin-left: 70px;
}

.navbar-contents-top {
    display: flex;
    margin-bottom: 40px;
}

.navbar-contents-top-left a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

.navbar-contents-top-right {
    margin-left: 20rem;
}


.navbar-contents-top-right a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

.navbar-contents-bottom a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

#location {
    color: #006bae;
    text-decoration: underline;
}

#order {
    background-color: #ffbc0d;
    border-radius: 4px;
    padding: 8px 15px;
}

.row {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 6rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.64%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63;
}

.col-12 {
    width: 99.96%;
}

.food-section-left,
.food-section-right {
    padding: 20px 0px;
}

.food-section-left img,
.food-section-right img {
    width: 100%;
    margin-top: 7rem;
}


.first-section-left img,
.first-section-right img,
.second-section-left img,
.third-section-left img,
.fourth-section-left img,
.fifth-section-left img,
.sixth-section-left img {
    width: 100%;
}

.first-section-right,
.second-section-right,
.third-section-right,
.fourth-section-right,
.fifth-section-right,
.sixth-section-right {}

.container {
    margin: 0 auto;
    width: 90%;
}


.food-section-left h1,
.food-section-right h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 7rem;
}


.first-section-right h1,
.first-section-left h1,
.second-section-right h1,
.third-section-right h1,
.fourth-section-right h1,
.fifth-section-right h1,
.sixth-section-right h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.food-section-right p,
.food-section-left p {
    font-size: 15px;
    font-weight: 450;
    margin-bottom: 50px;
}


.first-section-right #first-section-texts,
.first-section-left #first-section-texts,
.second-section-right #second-section-texts,
.third-section-right #third-section-texts,
.fourth-section-right #fourth-section-texts,
.fifth-section-right #fifth-section-texts,
.sixth-section-right #sixth-section-texts {
    font-size: 15px;
    font-weight: 450;
    margin-top: 10px;
    margin-bottom: 30px;
}

.food-section-right #food-section-small {
    font-size: 10px;
}

.first-section-right #first-section-small,
.second-section-right #second-section-small,
.third-section-right #third-section-small,
.fourth-section-right #fourth-section-small,
.fifth-section-right #fifth-section-small,
.sixth-section-right #sixth-section-small {
    font-size: 10px;
    margin-bottom: 50px;
}

.food-section-right .earn-btn a,
.food-section-left .earn-btn a {
    background-color: #ffbc0d;
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
}

.first-section-right .earn-btn a,
.first-section-left .earn-btn a,
.second-section-right .second-btn a,
.third-section-right .third-btn a,
.fourth-section-right .fourth-btn a,
.fifth-section-right .fifth-btn a,
.sixth-section-right .sixth-btn a {
    background-color: #ffbc0d;
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
}


.seventh-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.row-links h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.row-links p {
    line-height: 30px;
    text-align: justify;
}

.footer-icon-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.footer-icon-left {
    display: flex;
    gap: 20px;
    margin-right: 40rem;
    padding-left: 30px;
}

.footer-first-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
    margin: 50px 0px;
}


.footer-first-left {
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-right: 5rem;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-first-left a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer-first-right {
    display: flex;
    align-items: center;
}

.footer-first-right img {
    width: 8%;
}

.sub-heading {
    margin-top: 70px;
}

.sub-heading h1 {
    text-align: center;
    font-size: 50px;
}

.sub-heading p {
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
}

.second-heading {
    margin: 70px 0px;
}

.second-heading h1 {
    text-align: justify;
    font-size: 40px;
}

.second-heading p {
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
}

.picture-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.picture-row img {
    width: 100%;
}

.writeup-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.picture-row-writeup {
    text-align: justify;
    width: 25%;
}

.picture-row-writeup h1 {
    font-weight: 450;
    font-size: 28px;
}

.picture-row-writeup p {
    font-size: 18px;
}

.third-heading {
    margin: 70px 0px;
}

.third-heading h1 {
    text-align: justify;
    font-size: 40px;
}

.third-heading p {
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
}

.second-picture-row,
.second-deals-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.second-picture-writeup,
.second-deals-writeup {
    display: flex;
    justify-content: center;
    margin: 30px 0px 100px 0px;
}

.second-writeup,
.deals-writeup {
    padding: 10px 100px;
    text-align: justify;
    width: 45%;
}

.second-writeup-2,
.deals-writeup2 {
    padding: 10px 30px;
    text-align: justify;
    width: 45%;
}

.second-writeup h1,
.second-writeup-2 h1 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
}

.second-writeup p,
.second-writeup-2 p,
.deals-writeup p,
.deals-writeup2 p {
    font-size: 17px;
}

.third-picture-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.Faq {
    margin-bottom: 100px;
    padding: 20px;
}

.Faq h4 {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
}

.Faq p {
    margin-bottom: 15px;
    font-size: 20px;
}

.Faq li {
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 30px;
}

.last-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    margin-bottom: 80px;
}

.deals-writeup h1,
.deals-writeup2 h1,
.last-section-text h1 {
    font-weight: 750;
    font-size: 35px;
    margin-bottom: 20px;

}

.deals-writeup #small,
.deals-writeup2 #small,
.last-section-text #small {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.deals-writeup a,
.deals-writeup2 a,
.last-section-text a {
    margin: 100px 0px;
    background-color: #ffbc0d;
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
}

.lastrow {
    margin-bottom: 10rem;
}

.first-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.first-image img {
    width: 100%;
}

.inline-links {
    color: #006bae;
}